[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
docutils = "*"
doc8 = "*"
recommonmark = "*"
transifex-client = "*"
sphinx-rtd-theme = "*"

[packages]
sphinx = "*"
sphinx-autobuild = "*"
sphinxcontrib-katex = "*"
sphinxcontrib-bibtex = "*"
sphinx-math-dollar = "*"
sphinx-intl = "*"
amunra-sphinx-theme = "*"
ghp-import = "*"

[requires]
python_version = "3.7"
